body{
    height: 100px;
    color: rgb(255, 238, 206);
    background-color: hsl(0, 0%, 11%);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
    display: flex;
    flex-direction: row;
    align-items: center;
}
header h1{
    margin-right: 700px;
    font-size: 1.5em;
    margin-left: 30px;
    width: 300px;
}
header a{
    text-decoration: none;
    justify-content: space-between;
    font-weight: bold;
    padding: 10px 15px;
    color: rgb(255, 238, 206);
}
header a:hover{
    cursor: pointer;
    background-color: hsl(38, 29%, 67%);
    color: hsl(0, 0%, 50%);
    border-radius: 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
}
footer .socials{
    text-align: right;
    margin-top: 20px;
    font-size: 1.5em;
}
footer .socials a{
    margin-right: 10px;
}
#container{ /*    The Gray container on the Home Page   */
    height: 470px;
    margin-top: 60px;
    margin-left: 30px;
    margin-right: 30px;
    overflow: hidden scroll;
    background-color: hsl(0, 0%, 15%);
    border-radius: 50px;

}
#homeImg{ /*  Home Page Picture   */
    margin-left: 20px;
    margin-top: 150px;
    margin-right: 75px;
    width: 290px;
    height: 290px;
    border-radius: 100px;
    align-items: center;
    border: 3px solid white;
    float: left;
}
#aboutMe{ /*My Background*/
    font-size: 1.2em;
    text-align: justify;
    margin-top: 60px;
    margin-left: 30px;
    width: 93.5%;
    font-weight: bold;
}
#container h1{
    text-align: center;
    margin-left: 16.5px;
}